<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1 p-2">Users</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data.users}}
                                <tr>
                                    <td>{{index}}</td>
                                    <td>{{userName}}</td>
                                    <td>{{userAddress}}</td>
                                    <td>{{userYear}}</td>
                                    <td>{{userGender}}</td>
                                    <td>{{userContact}}</td>
                                    <td>{{userEmail}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{>footer}}
            </div>
        </div>
    </div>
</div>